---
import { markdownify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
const { banner } = Astro.props;
const { title, button, image, content } = banner;
---

<section class="section banner relative">
  <div class="container">
    <div class="flex flex-col-reverse lg:flex-row items-center">


      <div class="w-full lg:w-5/12 text-center lg:text-left">
        <h1 class="banner-title" set:html={markdownify(title)} />

        <p class="mt-6" set:html={markdownify(content)} />

        {
          button.enable && (
            <a class="btn btn-blue mt-8" href={button.link}>
              {button.label}
            </a>
          )
        }
      </div>
      <div class="w-full lg:w-7/12 flex justify-center lg:justify-end mb-6 lg:mb-0">
        <Image
          class="w-full object-contain rounded-lg"
          alt="banner"
          src={image}
          width={603}
          height={396}
        />
      </div>
    </div>
  </div>  
</section>