---
import CardExtension from "@/layouts/function-components/CardExtension";
import { AiFillCheckCircle } from "react-icons/ai";
import * as PhosphorIcons from "phosphor-react";

const { card, benefits } = Astro.props;
---

<section class="infra py-16">
  <div class="container">
    <!-- Título de Infraestructura -->
    <div class="text-center mb-10">
      <!-- <h2 class="h3">{card.title}</h2> -->
    </div>

    {card.list && card.list.length > 0 ? (
      <div class="flex flex-col space-y-8">
        <!-- Primera fila: Dos tarjetas -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
          {card.list.slice(0, 2).map((item, index) => (
            <CardExtension
              key={index}
              title={item.title}
              description={item.description}
            />
          ))}
        </div>

        <!-- Segunda fila: "Comunicaciones" con lista de beneficios -->
        {card.list.length > 2 && (
        <div>
        <div class="flex flex-col md:flex-row items-center md:items-start p-6 gap-2 space-y-4 md:space-y-0 md:space-x-6">
            <div>
              <h3 class="">{card.list[2].title}</h3>
              <p class="mt-2">{card.list[2].description}</p>

              {/* {card.list[2].listItem && card.list[2].listItem.length > 0 && (
                <ul class="mt-4 space-y-2">
                  {card.list[2].listItem.map((listItem,) => (
                    <li class="flex items-center gap-2">
                      <AiFillCheckCircle className="text-primary w-5 h-5" />
                      {listItem}
                    </li>
                  ))}
                </ul>
              )} */}
            </div>

            
          </div>

          <div class="">
  <div class="container">
    <h4 class="mt-4 text-gray-600 px-2 text-lg font-normal">{benefits.description}</h4>

    <!-- Lista de beneficios -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 mt-4">
      {benefits.list.map((benefit) => {
        const IconComponent = PhosphorIcons[benefit.icon];

        return (
          <div class="flex flex-col items-center p-6">
            <div class="bg-secondary/10 text-primary rounded-full p-4 flex items-center justify-center">
              {IconComponent ? (
                <IconComponent size={28} weight="regular" />
              ) : (
                <span class="text-lg">?</span> <!-- Ícono genérico si no se encuentra -->
              )}
            </div>

            <span class="mt-2 text-base font-semibold">{benefit.title}</span>
          </div>
        );
      })}
    </div>
  </div>
</div>
        </div>
        )}
      </div>
    ) : (
      <p class="">No hay datos para mostrar.</p>
    )}
  </div>
</section>

