---
import config from "@/config/config.json";
import * as PhosphorIcons from "phosphor-react";

const {
  call_to_action: { title, description, contacts },
} = config;
---

<section class="px-5 py-4 xl:py-[120px] cta" id="contacto">
  <div class="container">
    <div class="row justify-center rounded-b-[80px] rounded-t-[20px] px-[30px] pb-[75px] pt-16">
      <div class="">
        <div class="row text-center">
          <div class="">
            <h2 class="h3">{title}</h2>
          </div>
          <div class="mt-4">
            <p>{description}</p>
          </div>
        </div>

        <!-- Contenedor de botones de contacto -->
        <div class="contacts gap-8 mt-8 flex flex-wrap justify-center">
          {contacts.map((contact) => {
            const IconComponent = PhosphorIcons[contact.icon];

            return (
              <a
                key={contact.link}
                href={contact.link}
                class="flex items-center gap-4  text-primary  px-6 py-6 rounded hover:shadow hover:border-primary border-white transition-all duration-300"
              >
                <!-- Icono dentro de un círculo blanco -->
                <div class="bg-secondary/45 rounded-full p-4 flex items-center justify-center">
                  {IconComponent ? (
                    <IconComponent size={24} weight="light" class="" />
                  ) : (
                    <span class="text-lg text-primary">?</span> <!-- Ícono genérico -->
                  )}
                </div>

                <!-- Título y subtítulo -->
                <div class="text-left">
                  <h3 class="text-lg font-semibold">{contact.title}</h3>
                  <p class="text-sm text-black">{contact.subtitle}</p>
                </div>
              </a>
            );
          })}
        </div>
      </div>
    </div>
  </div>
</section>
