---
import config from "@/config/config.json";
import * as PhosphorIcons from "phosphor-react";
import { Image } from "astro:assets";

const {
  call_to_action: { title, description, contacts },
} = config;
const whatsAppLink = `${config.params.whatsAppLink}?text=${config.params.whatsAppMessage}`;
---

<section class="px-5 py-4 xl:py-[120px] cta" id="contacto">
  <div class="container">
    <div class="row justify-center rounded-b-[80px] rounded-t-[20px] px-[30px] pb-[25px] pt-16">
      <div class="">
        <div class="row text-center">
          <div class="">
            <h2 class="h2">{title}</h2>
          </div>
          <div class="mt-4">
            <p class="text-lg">{description}</p>
          </div>
        </div>

        <!-- Contenedor de botones de contacto -->
        <div class="contacts gap-8 mt-8 flex flex-wrap justify-center">
          {contacts.map((contact) => {
            // Verificar si el contacto es de WhatsApp
            if (contact.title === "WhatsApp") {
              contact.link = whatsAppLink; // Actualiza el link de WhatsApp
            }

            const IconComponent = PhosphorIcons[contact.icon];

            return (
              <a
                key={contact.link}
                href={contact.link}
                target="_blank"
                rel="noopener noreferrer"
                aria-label={`Ir a ${contact.title}`}
                class="flex items-center gap-4  text-primary border border-gray-200  px-6 py-6 rounded hover:shadow hover:border-primary transition-all duration-300"
              >
                <!-- Icono dentro de un círculo blanco -->
                <div class="bg-secondary/45 rounded-full p-4 flex items-center justify-center">
                  {IconComponent ? (
                    <IconComponent size={24} weight="light" class="" />
                  ) : (
                    <span class="text-lg text-primary">?</span> <!-- Ícono genérico -->
                  )}
                </div>

                <!-- Título y subtítulo -->
                <div class="text-left">
                  <h3 class="text-lg font-semibold">{contact.title}</h3>
                  <p class="text-sm text-black">{contact.subtitle}</p>
                </div>
              </a>
            );
          })}
        </div>
      </div>
      
    </div>
  </div>
</section>
