---
import Logo from "@/components/Logo.astro";
import config from "@/config/config.json";
import menu from "@/config/menu.json";
import { markdownify } from "@/lib/utils/textConverter";
import { EnvelopeSimple, InstagramLogo, WhatsappLogo } from "phosphor-react"; // Importar ícono de Instagram

const { footer } = menu;
const { copyright, email, footer_description, instagramLink} = config.params;
const currentYear = new Date().getFullYear(); // Año dinámico
const whatsAppLink = `${config.params.whatsAppLink}?text=${config.params.whatsAppMessage}`;
const whatsAppLink2 = `${config.params.whatsAppLink2}?text=${config.params.whatsAppMessage}`;

---

<footer class="footer bg-[#F5F5F5] border-t-2">
  <div class="container py-10">
    <div class="grid grid-cols-1 gap-10 text-gray-600 sm:grid-cols-2 lg:grid-cols-3">
      
      <!-- Logo y descripción -->
      <div>
        <Logo />
        <p class="mt-4 text-sm">{footer_description}</p>
      </div>

      <!-- Menú -->
      <div>
        <h6 class="text-lg font-semibold text-black">
          <span>Menú</span>
        </h6>
        <ul class="mt-4 space-y-2">
          {footer.map((item, i) => (
            <li>
              <a
                href={item.url}
                class="hover:text-primary hover:underline focus:ring-2 focus:ring-primary focus:outline-none"
                aria-label={`Ir a ${item.name}`}
              >
                {item.name}
              </a>
            </li>
          ))}
        </ul>
      </div>

      <!-- Contacto (con Instagram en lugar de teléfono) -->
      <div>
        <h6 class="text-lg font-semibold text-black">
          <span>Contacto</span>
        </h6>
        <ul class="mt-4 space-y-2">
          <!-- <li>{location}</li> -->
          <li>
            <a
              href={`mailto:${email}`}
              class="flex items-center gap-2 hover:text-primary hover:underline focus:ring-2 focus:ring-primary focus:outline-none"
              aria-label="Enviar un correo"
            >
            <EnvelopeSimple size={20} weight="regular" /> Email
            <!-- {email} -->
            </a>
          </li>
          <li>
            <a
              href={instagramLink}
              target="_blank"
              rel="noopener noreferrer"
              class="flex items-center gap-2 hover:text-primary hover:underline focus:ring-2 focus:ring-primary focus:outline-none"
              aria-label="Visitar nuestro Instagram"
            >
              <InstagramLogo size={20} weight="regular" /> Instagram
            </a>
          </li>
          <li>
            <a
              href={whatsAppLink}
              target="_blank"
              rel="noopener noreferrer"
              class="flex items-center gap-2 hover:text-primary hover:underline focus:ring-2 focus:ring-primary focus:outline-none"
              aria-label="Escribenos por WhatsApp"
            >
              <WhatsappLogo size={20} weight="regular" /> WhatsApp
            </a>
          </li>
          <li>
            <a
              href={whatsAppLink2}
              target="_blank"
              rel="noopener noreferrer"
              class="flex items-center gap-2 hover:text-primary hover:underline focus:ring-2 focus:ring-primary focus:outline-none"
              aria-label="Escribenos por WhatsApp"
            >
              <WhatsappLogo size={20} weight="regular" /> WhatsApp
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Copyright con año dinámico -->
  <div class="border-t border-border py-6 text-center text-gray-500 text-sm">
    <p>{copyright.replace("2025", currentYear.toString())}</p>
  </div>
</footer>
